@use 'sass:math';
@use 'sass:string';

.star-container {
  width: 100%;
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

.star-title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-50%);
  font-size: 40px;
  letter-spacing: 10px;

  background: linear-gradient(white, #38495a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@function star($n) {
  $value: #{math.floor(math.random() * $n)}vw #{math.floor(math.random() * $n)}vh
    #fff;
  $result: $value;
  @for $i from 2 through $n {
    $value: #{math.floor(math.random() * $n)}vw
      #{math.floor(math.random() * $n)}vh
      #fff;
    $result: string.unquote('#{$result}, #{$value}');
  }

  @return $result;
}

$n: 5;
$duration: 400s;
$count: 2000;
@for $i from 1 through $n {
  $duration: math.floor(math.div($duration, 2));
  $count: math.floor(math.div($count, 2));

  .star-layer#{$i} {
    position: fixed;
    width: #{$i}px;
    height: #{$i}px;
    left: 0;
    top: 0;
    border-radius: 50%;
    box-shadow: star($count);
    animation: moveUp $duration linear infinite;
  }

  .star-layer#{$i}::after {
    content: '';
    position: inherit;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    box-shadow: inherit;
    left: 0;
    top: 100vh;
  }
}

@keyframes moveUp {
  to {
    transform: translateY(-100vh);
  }
}
